{% extends "polls/index.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-3">
    </div>
    <div class="col-6" style="text-align:  center;">
      {% if title == " " %}
        <h4>Админка</h4>
      {% else %}
        <h4>Данные по результатам опроса "{{ title }}"</h4>
      {% endif %}
    </div>
    <div class="col-3">
    </div>
  </div>
  <div class="row">
    {% for item in data %}
    <figure class="highcharts-figure">
        <div id="{{ item.id }}"></div>
    </figure>
    {% endfor %}
  </div>
  <div class="row">
    <div class="col-9">
      <p>Ниже таблица со всеми сохраненными опросами. Для редактирования выберите опрос и нажмите на "Редактировать". Для добавления нового опроса нажмите на "Добавить опрос"</p>
    </div>
    <div class="col-3">
      <a href="{% url 'polls:create' %}" class="btn btn-block btn-primary">Добавить опрос</a>
    </div>
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Название</th>
          <th>Количество вопросов</th>
          <th>Активная форма</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for item in parent_data %}
          <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td>{{ item.title }}</td>
            <td>{{ item.question_set.all.count }}</td>
            <td>{% if item.active %}
              Активна
            {% else %}
              Не активна
            {% endif %}</td>
            <td> <a href="{% url 'polls:update' item.id %}" class="btn btn-block btn-primary">Редактировать</a> </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script type="text/javascript">
  // Build the chart
console.log("test");
  {% for item in data %}
  console.log("{{ item }}")
  console.log("{{ item.pub_date }}")
  console.log("test2")
  Highcharts.chart('{{ item.id }}', {
      chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false,
          type: 'pie'
      },
      title: {
          text: '{{ item.question_text }}'
      },
      plotOptions: {
          pie: {
              allowPointSelect: true,
              cursor: 'pointer',
              dataLabels: {
                  enabled: false
              },
              showInLegend: true
          }
      },
      series: [{
          name: 'Brands',
          colorByPoint: true,
          data: [{% for choice in item.choice_set.all %}
          {
            name:"{{ choice.choice_text }}",
            y: {{ choice.votes }}
          },
          {% endfor %}
          ]
      }]
  });
  {% endfor %}
</script>

{% endblock %}
