{% extends "polls/index.html" %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="form">
        <form class="" action="" method="post">
          {% csrf_token %}
          {{ form }}
          <div class="bg-primary">
            <div class="form-group">
              {{ formset.management_form }}
              {% for form in formset %}
                <div class="form-group count {{ form.instance.id }}" id="forclone">
                  {{ form.as_table}}
                </div>
              {% endfor %}
            </div>
          </div>
          <input type="submit" name="" value="Сохранить" class="btn btn-block btn-primary">
        </form>
      </div>
    </div>
  </div>
{% endblock %}
